/* Google Font */

@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap");

* {
  font-family: "Poppins", sans-serif;
}

.navbar {
  position: sticky;
  top: 0;
  z-index: 1000;

  width: 100%;
  background: #ffffff;

  border-bottom: 1px solid #ececec;

  box-shadow: 0 6px 20px rgba(0, 0, 0, 0.05);
}

.container {
  max-width: 1200px;
  margin: auto;

  display: flex;
  justify-content: space-between;
  align-items: center;

  padding: 18px 30px;
}

.logo {
  text-decoration: none;

  font-size: 30px;
  font-weight: 700;

  color: #111827;
}

.logo span {
  color: #2563eb;
}

.nav-links {
  display: flex;
  align-items: center;
  gap: 12px;
}

.nav-links a {
  text-decoration: none;

  color: #374151;

  font-size: 16px;
  font-weight: 500;

  padding: 10px 18px;

  border-radius: 8px;

  transition: 0.3s;
}

.nav-links a:hover {
  color: #2563eb;

  background: #eff6ff;
}

.logout-btn {
  border: none;
  cursor: pointer;

  background: #ef4444;
  color: white;

  padding: 10px 22px;

  border-radius: 8px;

  font-size: 15px;
  font-weight: 600;

  transition: 0.3s;
}

.logout-btn:hover {
  background: #dc2626;

  transform: translateY(-2px);
}

@media (max-width: 768px) {
  .container {
    flex-direction: column;
    gap: 20px;
  }

  .nav-links {
    flex-wrap: wrap;
    justify-content: center;
  }
}
